<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- stylesheets -->
    <link rel="stylesheet" href="../../css/style.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- google fonts  -->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700" rel="stylesheet">

</head>
<body>
    <div class="w3ls-banner">
        <div class="heading">
            <h1>My RegApp Form</h1>
        </div>
        <div class="container">
            <div class="heading">
                <h2>Application</h2>
                <p>Please fill out the registration form carefully</p>
            </div>
            <div class="agile-form">
                @RenderBody()
            </div>
        </div>
        <div class="copyright">
            <p>© 2018 My RegApp. All rights reserved</p>
        </div>
    </div>

</body>
</html>
